$bg_primary: #176b87;
$bg_secondary: #64ccc5;
$bg_info: #DAFFFB;
$bg_danger: #E4A79D;
$bg_warning: #E4A79D;
$bg_success: #E4A79D;
$bg_white: #ffffff;

$text_white: #ffffff;
$text_info: #04364a;
$text_primary: #176b87;
