body {
    background-color: $bg_light;
}
.navbar-nav {
    .nav-link {
        color: $text_black;
        font-size: 1rem;
        transition: .3s;
        &:hover {
            padding-top: 5px;
            color: $text_blue!important;
        }
    }
    .nav-item {
        &:first-child {
            .nav-link {
                color: $text_blue;
            }
        }
    }
    @media (min-width: 992px) {
        gap: 40px;
    }
}